<div class="h-card col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6" itemscope
    itemtype="http://schema.org/Person">
    <div class="user-profile-sticky-bar js-user-profile-sticky-bar">
    </div>
    <div class="clearfix mb-2">
        <div class="float-left col-3 col-md-12 pr-3 pr-md-0">
            <a itemprop="image" class="u-photo d-block position-relative" aria-hidden="true"
                href="{{ "images/avatar.png" | absURL }}"><img alt="" width="260" height="260"
                    class="avatar width-full height-full rounded-2" src="{{ "images/avatar.png" | absURL }}" /></a>
        </div>
        <div class="float-left col-9 col-md-12 pl-2 pl-md-0">

            <div class="vcard-names-container pt-1 pt-md-3 pb-1 pb-md-3 js-sticky js-user-profile-sticky-fields">
                <h1 class="vcard-names">
                    <span class="p-name vcard-fullname d-block overflow-hidden"
                        itemprop="name">{{ .Site.Params.author }}</span>
                    <span class="p-nickname vcard-username d-block"
                        itemprop="additionalName">{{ .Site.Params.github }}</span>
                </h1>
            </div>

            {{ if .Site.Params.github }}
            <div class="user-profile-following-container js-user-profile-following-toggle mb-3">
                <span class="user-following-container js-toggler-container js-social-container">
                    <span class="follow">
                        <input type="button" style="max-width: 100%" value="Follow"
                            class="btn btn-block top-0 js-sticky js-user-profile-follow-button mb-2  js-toggler-target"
                            title="Follow" onclick="window.location.href = 'https://github.com/{{ .Site.Params.github }}'" />
                    </span>
                    <span class="unfollow">
                        <input type="button" style="max-width: 100%" value="Unfollow"
                            class="btn btn-block top-0 js-sticky js-user-profile-follow-button mb-2  js-toggler-target"
                            title="Unfollow" onclick="window.location.href = 'https://github.com/{{ .Site.Params.github }}'" />
                    </span>
                </span>
            </div>
            {{ end }}

            <div class="d-none d-md-block">
                <div class="js-profile-editable-area">
                    <div class="p-note user-profile-bio js-user-profile-bio">
                        <div>{{ .Site.Params.Description }}</div>
                    </div>
                    <ul class="vcard-details mb-3">
                        <li itemprop="email" aria-label="Email: jxn1024@icloud.com"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-mail"
                                viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z" />
                            </svg>
                            <a class="u-email " href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
                        </li>
                        <li itemprop="url" data-test-selector="profile-website-url"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-link"
                                viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
                                </path>
                            </svg>
                            <a rel="nofollow me" href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="border-top py-3 clearfix hide-sm hide-md">
                <h2 class="mb-1 h4">Repositories</h2>

                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://github.com/{{ .Site.Params.github }}">
                    <img src="{{ "images/github.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ if .Site.Params.gitlab}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://gitlab.com/{{ .Site.Params.gitlab }}">
                    <img src="{{ "images/gitlab.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.Twitter}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://twitter.com/{{ .Site.Params.Twitter }}">
                    <img src="{{ "images/twitter.png" | absURL }}" class="avatar" width="35" height="35">
                </a>
                {{ end }}
            </div>

            <div data-test-selector="profile-sponsorships">
            </div>
        </div>
    </div>
</div>
